{{#partial "content" }}
<section class="section">
  <div class="container">
    <h1 class="title">
      Riemann Mission Control
    </h1>
    <p class="subtitle">
      bip...bip...This is Riemann mission control... <strong>Hyperspace core online !</strong>
    </p>
  </div>
</section>
{{/partial}}

{{> base}}
