{{#partial "content" }}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Add a new rule
      </h1>
      {{> rules/rule_form}}
    </div>
  </section>
{{/partial}}

{{> base}}
