<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Riemann Mission Control</title>
  <meta name="description" content="Riemann Mission Control">
  <link rel="stylesheet" href="/static/css/bulma.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
